# Practical session week 1 - Python foundation

## Purpose
The purpose of this practical session is to make you more confident coding with Python and using Jupyter Notebooks, which we will be using for the rest of the year--both for Data Science and Artificial Intelligence.


## Goals
1. Working with Jupyter notebooks, cells, code and markdown
2. Review the basic Python data structures, operators and flow of control
3. Review the use and importance of custom libraries to augment Python's power

## Results
Fast track to programming in Python.

---

---

# Python Review

## Basic data types and their methods

https://docs.python.org/3.13/library/stdtypes.html

### Boolean

In [2]:
a = True
b = False

#### Boolean Operations

Suppose variables `x` and `y`

    
<table><thead>
<tr>
<th style="text-align: center">Operator</th>
<th>Description</th>
<th>Code</th>
</tr>
</thead><tbody>
<tr>
<td style="text-align: center">and</td>
<td>True if both are true</td>
<td><code>x and y</code></td>
</tr>
<tr>
<td style="text-align: center">or</td>
<td>True if at least one is true</td>
<td><code>x or y</code></td>
</tr>
<tr>
<td style="text-align: center">not</td>
<td>True only if false</td>
<td><code>not x</code></td>
</tr>
</tbody></table>

In [3]:
print(a and b)
print(a or b)
print(not a)

False
True
False

---

###  Numeric
- int
- float

In [4]:
#Initiate an integer variable 'a' with the value 10
#and print the type
a = 10

In [6]:
#Initiate an float variable 'a' with the value 10.1
#and print the type
a = 10.1

Cast from Float to Integer

In [7]:
#integer part of a float can be extracted using int()
a = 2.1
int(a)

2

Cast from Integer to Float

In [8]:
#convert an integer to a float using float()
a = 10
float(a)

10.0

---
### Sequence Types

#### Text Sequence or String

In [9]:
#strings can be assigned by passing data in text format, either in single or double quotes
#test both cases for 'Data'
a = 'Data'
b = 'Data'

#test if the two strings are equal
print(a == b)


#checking the type of the variable

True

Concatenate Strings

In [13]:
#to concatenate strings, just use the "+" operator.
#create a new string "Data Science" using "+"
a = 'Data ' + 'Science'

print(a)

Data Science

#### List,  Mutable Dynamic Arrays

Empty List

In [21]:
#create a list using square brackets
list = [1]

list[0]

#check the type

1

Multiple types

In [31]:
#in Python, a list can hold multiple types of variables"
#try this code "list_array = ["one", "two", 3, 4.0]"
#Check the type of all components on this list

list_array = ["one", "two", 3, 4.0]

for i in list_array:
  print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

get list elements

In [20]:
#access the second element on the list and print the value.
list_array[1]

'two'

In [22]:
#You can also use negative numbers to access elements in reverse order
#test by printing the -1 element
list_array[-1]

4.0

Mutability

In [32]:
#data from a list can be accessed by passing the index inside square brackets
#lists can also be modified using the '=' operator
#test change a value from list
list_array[1] = 'A'

list_array

['one', 'A', 3, 4.0]

Append at the end

In [33]:
#to add a new item to the end of the list, just use the append() method
#create a list and add itens using append()

lista = ['Data', 'Science', 'Intro', 10]

for i in lista:
  list_array.append(i)

list_array

#print the contents of the list

['one', 'A', 3, 4.0, 'Data', 'Science', 'Intro', 10]

Remove the last element

In [37]:
#to remove an item from a list, use pop
#if no parameter is passed inside the parentheses, it removes the last item
#pop always returns the item that was removed from the list
#try it
list_array.pop()

'Science'

Remove Operation by index

In [38]:
#It is possible to pass the address within the parentheses to remove a specific item
#the pop always returns the item that was removed from the list
#remove item from index 2
list_array.pop(2)

3

In [43]:
#whe can use also 'del' method
#try to remove a item from the list

del(list_array[0])

list_array

['A', 4.0, 'Data']

Size of list

In [40]:
#We can quickly get the size of a list using 'len'
#What is the final size of the list after the various removals?
len(list_array)

4

Indexing or **Slicing** List

```python
start:end(exclusive):step
```

From first to second, all values

In [45]:
#Initially, create a list with 5 elements
#Then, print the first 3 elements using slice
array = [4.0, 'Data', 'Science', 'Intro', 10]

array.slice(2)

AttributeError: 'list' object has no attribute 'slice'

From first to last, every two values

In [ ]:
#now do a slice starting from the first 3 elements, skipping 2 by 2

['one', 3]

---
#### Range

In [55]:
#Create also a range from 2 up to 7 (7 not included)
list(range(2,7))

TypeError: 'list' object is not callable

---
#### Tuples

In [ ]:
#Tuples are a type of data that are stored data together and linked
#Tuples are created using regular parentheses
#create a tuple ("one", "two", "three")

('one', 'two', 'three')

In [ ]:
#it is possible to access a tuple value by passing the address inside []
#Try to access the second element of the tuple.

'two'

Tuples are immutable! For example, if you try to update or delete one value it will return an error

In [ ]:
#It is not possible to update a value in a tuple
#try to change the second element of the tuple using "="

TypeError: 'tuple' object does not support item assignment

Adding elements to a tuple creates a new one

In [ ]:
#one solution would be to create a new tuple from an existing one
#add a tuple piece (23,) to the tuple you have just created and create a new tuple called a_second_tuple"

#However, it is important to emphasize that the first tuple continues to exist and remains immutable.

('one', 'two', 'three', 23)
('one', 'two', 'three')

Memory address of each variable

In [ ]:
#to prove this, we can access the address of the tuples using the id() method
#test both created tuples to see if the addresses are different

136000221082304
135999807516048

---

### Mapping Types

#### Dictionary

A dictionary is a mapping object composed of *keys* and *values* and *keys* need to hashable (lists and dictionaries are not)

For example `{'data': 0, 'science': 0}`

In [ ]:
#create a dictionary
#use dict() or {}
#test both ways
a_dict = dict()

#test using type(), the dictionary you just created
print(type(a_dict))

<class 'dict'>

Access the value of a key

In [ ]:
#dictionaries accept various types of values
#keys need to be hashable
#create a dictionary a_dict = {'data': 2, 1: 2, 'science': 4}
a_dict = {'data': 2, 1: 2, 'science': 4}
a_dict

#Note that the keys are not of the same type.

{'data': 2, 1: 2, 'science': 4}

In [ ]:
#acesse o value contido na key 'data'
a_dict['data']

2

Delete entry with the key ```data```

In [ ]:
#It is possible to delete a value from a dict using the del function
#delete the data contained in the key data and print the dictionary
del a_dict['data']
print (a_dict)

{1: 2, 'science': 4}

---

## Operator "in"

In [ ]:
#test if the float 0.5 is in list a=[ 1, 2, 3, 4] using "in"

False

---

## Control Flow Tools

### For Statements

```python
for <var> in <iterable>:
    <statement(s)>
```

In [ ]:
#for loop will interact with an object and return all parts of that object
#using the structure above, create a for loop that iterates over the list [1,2,3,5] and print the values

1
2
3
4

#### range is often used as the iterable

```python
    for <var> in range(limit):
        <statement(s)>
```

In [ ]:
#We can even use a range and manipulate the addresses of a list
#using the len() function, create a for loop with range that prints the addresses of the list [1,2,3,5]

0
1
2
3

### If Statements

```python
    if <expr>:
        <statement>
    elif <expr>:
        <statement>
    else:
        <statement>
```

`expr` is an expression evaluated in a Boolean context
    
`statement` is a valid Python statement, which must be indented

In [ ]:
#If in Python works just like in other languages but without the need for '()' or '{}'
#It is mandatory to indent the if structure for it to work
#Create an if statement that tests if 2 > 4. If true, print 'yes', otherwise print 'no'

no

### List Comprehensions

Create lists with elements with a single statement

```python
[ expression for a_value in a_collection ]

```

In [ ]:
#create a loop structure that iterates over the list [1,2,3,4,5] and prints the values +10 Ex: [11,12,13,14,15]



#now using list comprehensions, create the same structure as above

11
12
13
14
15
[11, 12, 13, 14, 15]

List comprehension with conditions

```python
[ expression for a_value in a_collection if condition ]

```

---

In [64]:
[i + 10 for i in range(1,6) if i >= 3]

[13, 14, 15]

## Functions

In [ ]:
def functionName(argument_one, argument_two):
    """
    Comment what it does
    """


    do_stuff

    return value

In [ ]:
functionName?

### Call a function

```python
functionName(argument_one, argument_two)
```

In [ ]:
#using the structure above, create a function that takes two numbers as parameters and returns their sum

### Built-in Functions

We have already used some. But there are more:

https://docs.python.org/3/library/functions.html

## Code Standards

[PEP 8: Function and Variable Names](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)  

**Summary**
 - Use Snake case in functions and variables, lowercase with words separated by underscores as necessary to improve readability
     - data_science  


 - For constants use all capital letters with underscores separating words
     - DATA_SCIENCE  


 - Use CapWords convention for classes
     - DataScience

# Challenges - Part I

**Cosine similarity from scratch**


## Question 1/6

The dot product between two vectors $v1$ e $v2$ of size $n$ is defined as:

$$\sum_{i=1}^n v1_i . v2_i $$

Create a `for` loop necessary to compute the dot product between any two vectors of the same size.

In [82]:
# SOLUTION 1
def dot_product(v1, v2):

  lista = []

  for i in range(len(v1)):

    lista.append(v1[i] * v2[i])

  return (sum(lista))

v1 = [1,2,3,4]
v2 = [3,2,5,4]

print(dot_product(v1, v2))

38

## Question 2/6

Try using the built-in function `zip`. Pass vectors `v1` and `v2` as parameters.

**Note.** `zip` produces an object of class `zip`, but we can cast it as a `list` using the built-in function `list()` on that object

Based on the result obtained explain what the `zip`function does.

In [91]:
print(zip(v1, v2))

[(1, 3), (2, 2), (3, 5), (4, 4)]

---
## Question 3/6

Try using the built-in funcion `zip()` to compute the dot product in single line of code.

- **Hint 1:** use a list comprehension
- **Hint 2:** use the built-in function `sum()` to obtain the sum of all values of a list

In [92]:
# zip is used to combine the two lists (ignoring excess values)
# it uses the addresses to access the items in the tuple and performs the multiplication
sum([i * j for i, j in zip(v1, v2)])

38

---
## Question 4/6

The norm of a vector (its magnitude) is defined as:

$$ \lVert x \rVert = \sqrt{\sum_{i=1}^n x_i^2}$$

Write a for loop that computes a norm of a given vector $v$.

In [93]:
import math

def norm(v):
  sum_squares = 0
  for x in v:
    sum_squares += x**2
  return math.sqrt(sum_squares)

v = [1, 2, 3, 4]

print(norm(v))

5.477225575051661

## Question 5/6

Recall how to create a funcion:

```python
def name_of_the_function(list of arguments):
    do something
    ...
    return the_result
```

1. Define a function that computes the dot product of two vectors $v1$ e $v2$

2. Define a function that computes the norm of a vector $v$

3. Call both function

In [95]:
import math

print(dot_product(v1, v2))
print(norm(v))

38
5.477225575051661

## Question 6/6

In Data Science there is this famous measure of similarity called cosine similarity.

Given two vectors $v1$ e $v2$, it is defined as:

$$
  cos(v1, v2) = \frac{v1 . v2}{\lVert v1 \rVert \times \lVert v2 \rVert}
$$  

Using the above functions, define a new one that computes this similarity.

In [90]:
def cosine_similarity(v1, v2):

  return dot_product(v1, v2) / (norm(v1) * norm(v2))

cosine_similarity(v1, v2)

0.9441175904999112